*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    text-decoration: none;
}


@font-face {
    font-family: "Exo Regular";
    src: url('/font/exo.regular.otf');
  }

  body, html {
    height: 100%;
  }

.bg-image{
    background-image: url(/img/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}

body{
    background-color: rgb(0, 32, 96);
}

/* STYLE FOR NAVBAR*/
.inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}
.logo {
    font-family: Arial Black;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

nav > ul {
    float: right;
    font-family: Arial Black;
    list-style-type: none;
    font-family: Arial Black;
}
nav > ul > li {
    text-align: center;
    line-height: 20px;
    margin-left: 30px;
    margin-right: -10px;
    margin-top: 10px;
}

nav ul li:hover {
    cursor: pointer;
    position: relative;
}

nav ul li:hover > a {
    color: darkred;
    text-decoration: underline;
}

nav > a {
    color: black;
}

nav:hover > a {
    color: black;
}

nav > ul > li > a {
    cursor: pointer;
    display: block;
    outline: none;
    width: 100%;
    text-decoration: none;
}
nav > ul > li {
    float: left;
}

a:visited{
    color: black;
    text-decoration: none;
}

nav [type="checkbox"],
nav label {
    display: none;
}

/*STYLE FOR THE CAROUSEL WORDS*/

#carousel-words{
    font-family: "Exo Regular";
    position: absolute;
    top:35%;
    left: 32%;
    font-size: 40px;
    font-weight: 900;

}

/*STYLE FOR THE ABOUT SECTION WORDS*/

#about{
    font-family: "Exo Regular";
    display: flex;
    padding-left: 150px;
    height: 100%;
    align-items: center;
    color: white;
}

.callout{
    margin:auto;
    padding: 0 30px;
    display: flex;
    flex-direction:column;
    text-align: center;
}

.title{
    font-weight: 900;
    font-size: 50px;

}

.description{
    font-size: 40px;

}

.image-me{
    border-radius: 50%;
    border: 2px solid white;
}

/*STYLE FOR THE ABOUT EXPERTISE*/

#expertise{
    font-family: "Exo Regular";
    color: white;
    width: 100%;
    height: 100%;
    margin-top:60px;
    display: block;
}

.expertise .title{
    padding-top: 10px;
    justify-content: center;
    text-align: center;
}

.consulting{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 20px;
}

.development{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 20px;
}

.text{
padding-left: 30px;
padding-right: 30px;
}

.consulting .text{
    text-align: left;
}

.development .text{
    text-align: right;
}

.consulting img{
    border-radius: 50%;
    border: 2px solid white;
}

.development img{
    border-radius: 50%;
    border: 2px solid white;

}

/*STYLE FOR THE CONTACT SECTION*/

#contact{
    font-family: "Exo Regular";
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:auto 30px;
}

.contact-text{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:10px;
}

.form{
    font-size: 20px;
    font-weight: 900;
    padding:10px;
}

.button{
    width: 100px;
    font-weight: 900;
    margin-left: 220px;
}

label{
    float: left;
    width: 120px;
}

input{
    width: 250px;
    height: 20px
}

textarea{
    resize: none;
    width: 370px;

}

/*STYLE FOR THE FOOTER*/

.footer{
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;

}

.back-to-top{
    display: none;
    background-color: white;
    width: 45px;
    height: 45px;
    position:fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    cursor: pointer;
}

.back-to-top img{
    padding-bottom: 5px;
    padding-right: 2px;
}



[type="checkbox"]{
    display: none;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    nav label {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 0px;
    }
    nav label:after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: black;
        margin: 7px 5px;
        box-shadow: 0px 10px 0px black, 0px 20px 0px black
    }
    
    [type="checkbox"]:checked ~ ul {
        display: block;
        z-index: 9999;
        position: absolute;
        right: 20px;
        left: 20px;
    }
    nav a {
        color: black;
    }
    nav ul li {
        display: block;
        width: 100%;
        text-align: right;
    }

    nav > ul > li {
        margin-left: 0px;
    }

    h1 {
        font-size: 26px;
    }


    #carousel-words{
        top:37%;
        left: 25%;
        font-size: 30px;
    }

    #expertise{
        margin-top: 100px;
    }

}

@media screen and (max-width: 1024px) {
    #about{
        flex-direction: column;
        padding-left: 0px;
    }

    .consulting{
        flex-direction: column;
        font-size: 30px;
    }
    
    .development{
        flex-direction: column-reverse;
        align-items: center;
        font-size: 30px;
    }

    .consulting .text{
        padding-top: 20px;
        text-align: center;
    }
    
    .development .text{
        padding-top: 20px;
        text-align: center;
    }

    #contact{
        flex-direction: column;
    }

    .footer{
        margin-top: 150px;
    }
}